.col-xs-2(ng-if="vm.switches.leftTree")
    .tree.tree-basic#tree1(ng-style="{height:vm.size.h-15}")
        ul
            li.repeat-modify(ng-repeat='node in vm.trees[0].treeData',ng-include="'tree-basic-renderer.html'",ng-init="tIndex=0;nIndex = $index")
.text-center(ng-class='{"col-xs-10":vm.switches.leftTree,"col-xs-12":!vm.switches.leftTree}')
    .row
        form.form-search
            .input-group.pull-right.page-search
                label.input-group-addon {{'grid.LABEL-SEARACH'|translate}}
                input.form-control(type="text",ng-model="vm.filter.$")
    .row-split
    .row
        .panel.panel-default.panel-grid
            table.grid.table.table-bordered.table-hover.table-striped
                thead
                    tr
                        th.text-center(check-all,width="30")
                            .checkbox.c-checkbox(data-toggle="tooltip",data-title="Check All")
                                label(ng-click="vm.selectAll($event)")
                                    input(type='checkbox')
                                    span.fa.fa-check
                        th.text-center(ng-repeat="column in vm.columns",width="{{column|width}}",ng-hide="column|hide",ng-click="vm.sort.toggle(column)",ng-class="{sortable: column.sortable !== false}")
                            | {{column.label}}
                            i.glyphicon(ng-if="column.name === vm.sort.column && vm.sort.direction",ng-class="vm.sort.direction|orderClass")
                tbody
                    tr(ng-repeat="row in vm.rows|filter:vm.filter|orderBy:vm.sort.column:vm.sort.direction===-1|paging:vm" , ng-click="vm.selectRow($event,row)",ng-dblclick="vm.dblclickRow(row.id)")
                        td
                            .checkbox.c-checkbox
                                label
                                    input(type='checkbox' data="trBubble" ng-model="row.checked" )
                                    span.fa.fa-check(data="trBubble")
                        td.text-left {{::row.code}}
                        td.text-left {{::row.name}}
                        td {{::row.type_name}}
                        td.text-left
                            .btn-group
                                a.btn.btn-primary.btn-xs(title="{{'button.EDIT'|translate}}",ng-click="vm.edit(row._id)")
                                    i.glyphicon.glyphicon-pencil
                            .btn-group
                                a.btn.btn-primary.btn-xs(title="{{ 'button.GEN' | translate}}",ng-click="vm.openDialogWXAQRCode(row)")
                                    i.glyphicon.glyphicon-qrcode
                    tr(ng-if="vm.paged.length==0")
                        td(colspan="{{utils.noResultsColspan(vm)}}") {{ 'grid.NO-RESULTS' | translate}}
            .panel-footer
                .row
                    .col-md-4.text-left
                        .btn-toolbar
                            .btn-group
                                a.btn.btn-primary.btn-sm(title="{{'button.ADD'|translate}}",ng-click="vm.add()")
                                    i.glyphicon.glyphicon-plus
                                a.btn.btn-primary.btn-sm(title="{{'button.REMOVE'|translate}}",ng-click="vm.disable()")
                                    i.glyphicon.glyphicon-minus
                    .col-md-8
                        pagination.pagination-sm.pull-right(total-items="vm.page.totals",ng-model="vm.page.no",max-size="5",items-per-page="vm.page.size",boundary-links="true" ,ng-change="vm.paging()")
script(type="text/ng-template", id="dlg-channel-unit-qrcode.html")
    form.form-validate.mb-lg(role='form', name="theForm", novalidate='', ng-submit="vm.doSubmit()")
        .ngdialog-message
            h3.mt0 {{ vm.viewTranslatePath('DLG1-LABEL-TITLE') | translate}}
        .ngdialog-input
            .row
                label.col-md-3.control-label.slim {{ vm.viewTranslatePath('DLG1-LABEL-WXA_URL') | translate}}:
                .col-md-9
                    .form-readable {{vm.model.id}}
            .row
                label.col-md-3.control-label.slim {{ vm.viewTranslatePath('DLG1-LABEL-WXA_URL') | translate}}:
                .col-md-9
                    input.control(type='text', name='wxa_url',ng-model='vm.model.wxa_url',placeholder='{{vm.viewTranslatePath("DLG1-PLACEHOLDER-WXA_URL")|translate}}' ,required='')
                    span.text-danger(ng-show="utils.vinput(this.theForm,'wxa_url','required')") {{ "validator.REQUIRED" | translate}}
            .row-split
            .row
                label.col-md-3.control-label {{ vm.viewTranslatePath('DLG1-LABEL-WXA_QRCODE_WIDTH') | translate}}:
                .col-md-9
                    input(type='number', name='wxa_qrcode_width',ng-model='vm.model.wxa_qrcode_width',placeholder='{{vm.viewTranslatePath("DLG1-PLACEHOLDER-WXA_QRCODE_WIDTH")|translate}}' ,required='', ng-model-options="{debounce:500}",ui-validate="{wxa_qrcode_width: '$value > 10'}")
                    span.text-danger(ng-show="utils.vinput(this.theForm,'wxa_qrcode_width','required')") {{ "validator.REQUIRED" | translate}}
                    span.text-danger(ng-show="utils.vinput(this.theForm,'wxa_qrcode_width','number')") {{ "validator.NUMBER" | translate}}
                    span.text-danger(ng-show="utils.vinput(this.theForm,'wxa_qrcode_width','wxa_qrcode_width')") {{ "validator.MIN" | translate:{min:"10"} }}
                    button.btn.btn-primary(type="submit") {{'button.GEN'|translate}}
            .row-split
            .row
                .col-md-12
                    .wxa-qrcode
                        img(ng-if="vm.model.wxa_qrcode", ng-src="{{vm.model.wxa_qrcode}}")
            .row-split
            .row(ng-if="vm.model.wxa_qrcode")
                .col-md-12
                    .form-readable {{vm.model.wxa_qrcode}}
        .ngdialog-buttons
            .row
                .col-md-3
                .col-md-6.text-center
                    a.btn.btn-success(ng-click="vm.downloadQRCode()") {{ "button.DOWNLOAD" | translate}}
                .col-md-3