.col-xs-12.text-center(block-ui="list-block",ng-class='{"col-xs-10":vm.switches.leftTree,"col-xs-12":!vm.switches.leftTree}')
    .row
        form.form-search
            .input-group.pull-right.page-search
                label.input-group-addon {{'grid.LABEL-SEARACH'|translate}}
                input.form-control(type="text",ng-model="vm.filter.$")
    .row-split
    .row
        .panel.panel-default.panel-grid
            table.grid.table.table-bordered.table-hover.table-striped
                thead
                    tr
                        th.text-center(check-all,width="30")
                            .checkbox.c-checkbox(data-toggle="tooltip",data-title="Check All")
                                label(ng-click="vm.selectAll($event)")
                                    input(type='checkbox')
                                    span.fa.fa-check
                        th.text-center(ng-repeat="column in vm.columns",width="{{column|width}}",ng-hide="column|hide",ng-click="vm.sort.toggle(column)",ng-class="{sortable: column.sortable !== false}")
                            | {{column.label}}
                            i.glyphicon(ng-if="column.name === vm.sort.column && vm.sort.direction",ng-class="vm.sort.direction|orderClass")
                tbody
                    tr(ng-repeat="row in vm.rows|filter:vm.filter|orderBy:vm.sort.column:vm.sort.direction===-1|paging:vm" , ng-click="vm.selectRow($event,row)",ng-dblclick="vm.dblclickRow(row.id)")
                        td
                            .checkbox.c-checkbox
                                label
                                    input(type='checkbox' data="trBubble" ng-model="row.checked" )
                                    span.fa.fa-check(data="trBubble")
                        td {{::row.code}}
                        td.text-right {{::row.amount|currency}}
                        td {{::row.pay_type_name}}
                        td {{::row.pay_time|date:'yyyy-MM-dd HH:mm'}}
                        td {{row.order_status_name}}
                        td {{:: row.order_nickname}}
                        td.td-nowrap(title="{{::row.shipping_info.shipping_nickname}} ({{::row.shipping_info.shipping_phone}})") {{::row.shipping_info.shipping_nickname}} ({{::row.shipping_info.shipping_phone}})
                        td.td-nowrap(title="{{::row.shipping_info.province}}-{{::row.shipping_info.city}}-{{::row.shipping_info.area}}-{{::row.shipping_info.address}})") {{::row.shipping_info.province}}-{{::row.shipping_info.city}}-{{::row.shipping_info.area}}-{{::row.shipping_info.address}}
                        td.text-left
                            .btn-group
                                a.btn.btn-primary.btn-xs(title="{{'button.EDIT'|translate}}",ng-click="vm.edit(row._id)")
                                    i.glyphicon.glyphicon-pencil
                            .btn-group(ng-if="row.order_status == 'A0003'")
                                a.btn.btn-primary.btn-xs(title="{{ vm.viewTranslatePath('SHIPPING') | translate}}",ng-click="vm.actionDef('ship', row.id)")
                                    i.glyphicon.glyphicon-send
                            .btn-group(ng-if="row.order_status == 'A0011'")
                                a.btn.btn-danger.btn-xs(title="{{ vm.viewTranslatePath('REFUNDING') | translate}}",ng-click="vm.refuncForOrder(row)")
                                    i.glyphicon.glyphicon-share-alt
                    tr(ng-if="vm.paged.length==0")
                        td(colspan="{{utils.noResultsColspan(vm)}}") {{ 'grid.NO-RESULTS' | translate}}
            .panel-footer
                .row
                    .col-md-4.text-left
                        .btn-toolbar
                    .col-md-8
                        pagination.pagination-sm.pull-right(total-items="vm.page.totals",ng-model="vm.page.no",max-size="5",items-per-page="vm.page.size",boundary-links="true" ,ng-change="vm.paging()")