
form.search-form
    .row
        label.search-col.col-md-1.text-right 楼层房间
        .col-md-2
            .tree.tree-dropdown(name='floorTree',s-tree, s-tree-data="vm.floorDataPromise",s-tree-height="400", s-tree-template-url='tree-directive-default-renderer.html',s-tree-option="{mode:'check',layout:'dropdown',selectNodeFormat:'object'}",ng-model="vm.floorData", on-check-change="vm.onFloorChange()")
.nursing-station
    .col-md-12(block-ui="nursing-station")
        .elderly(ng-repeat="elderly in vm.elderlys")
            .avatar
                .avatar-block
                    .user-block-status
                        img.img-thumbnail.img-circle(ng-src="{{ elderly.avatar ? elderly.avatar + '?imageView2/1/w/62/h/81' : vm.defaultElderlyAvatar}}", alt="姓名")
            div.text-center
                .room-info {{elderly.room_value.roomId.name + '-' + elderly.room_value.bed_no}}
                span.nursing-level ({{elderly.nursingLevelId.short_name}})
            div(ng-class='{"bg-danger": vm.elderlyStatusMonitor[elderly.id], "bg-success": !vm.elderlyStatusMonitor[elderly.id]}')
                .name.text-center {{ elderly.name }}
                    span.age ({{utils.age(elderly.birthday)}})
.clearfix