.col-xs-2(ng-if="vm.switches.leftTree")
    .tree.tree-basic(name='yAxisData',s-tree, s-tree-data="vm.yAxisDataPromise",s-tree-height="vm.size.h-15", s-tree-template-url='tree-directive-default-renderer.html',s-tree-option="{mode:'check',selectNodeFormat:'object'}",ng-model="vm.yAxisData",required='', on-check-change="vm.onRoomChange()")
.text-left(ng-class='{"col-xs-10":vm.switches.leftTree,"col-xs-12":!vm.switches.leftTree}')
    .row
        .col-md-5
        .col-md-7
            //.dropdown(s-dropdown,is-button,ng-model="vm.editing$NursingLevel",s-dropdown-data="vm.selectBinding.nursingLevels")
    .row-split
        .panel.panel-default.panel-grid
            table.grid.table.table-bordered.table-nursing-plan
                thead
                    tr
                        th.text-center(ng-repeat="col in vm.xAxisData",width="{{col.width}}") {{::col.name}}
                tbody
                    tr(ng-repeat="row in vm.yAxisDataFlatten track by row.trackedKey")
                        td.text-center {{vm.aggrData[row.trackedKey]['room_name']}}
                        td.text-center {{vm.aggrData[row.trackedKey]['bed_no']}}
                        td.text-center {{vm.aggrData[row.trackedKey]['elderly']['name']}}
                        td.text-center 
                            .btn-group(ng-if="vm.aggrData[row.trackedKey]['elderly']['nursingLevelId']")
                                a.btn.btn-primary.btn-sm(ng-click="vm.generateNursingRecord(row.trackedKey)")
                                    i.glyphicon.glyphicon-list
                                    span.ml-sm {{ vm.moduleTranslatePath('BTN-GEN-NURSING-CONTENT') | translate}}
                        td.text-center
                            div(ng-if="vm.aggrData[row.trackedKey]['elderly']['id']")
                                span(ng-if="!vm.$editings[row.trackedKey]['nursingLevelId'] && vm.aggrData[row.trackedKey]['elderly']['nursingLevelId']") {{vm.nursingLevelMap[vm.aggrData[row.trackedKey]['elderly']['nursingLevelId']]}}
                                a.btn.btn-primary.btn-sm(ng-if="!vm.$editings[row.trackedKey]['nursingLevelId'] && !vm.aggrData[row.trackedKey]['elderly']['nursingLevelId']" ng-click="vm.addElderlyNursingLevel(row.trackedKey)") {{ vm.moduleTranslatePath('BTN-SET-NURSING-LEVEL') | translate}}
                                .btn-group(ng-if="!vm.$editings[row.trackedKey]['nursingLevelId'] && vm.aggrData[row.trackedKey]['elderly']['nursingLevelId']")
                                    a.btn.btn-primary.btn-xs(ng-click="vm.editElderlyNursingLevel(row.trackedKey)")
                                        i.glyphicon.glyphicon-pencil
                                div(ng-if="vm.$editings[row.trackedKey]['nursingLevelId']")
                                    .btn-group
                                        .dropdown(s-dropdown,is-button,ng-model="vm.editing$NursingLevel[vm.aggrData[row.trackedKey]['elderly']['id']]",s-dropdown-data="vm.selectBinding.nursingLevels" s-dropdown-option="{valueKey:'id', textKey:'short_name'}")
                                    .split
                                    .btn-group
                                        a.btn.btn-primary.btn-sm(title="{{'button.SAVE'|translate}}",ng-click="vm.saveElderlyNursingLevel(row.trackedKey, vm.editing$NursingLevel[vm.aggrData[row.trackedKey]['elderly']['id']])")
                                            i.glyphicon.glyphicon-ok-sign
                                        a.btn.btn-primary.btn-sm(title="{{'button.CANCEL'|translate}}",ng-click="vm.cancelElderlyEditing(row.trackedKey)")
                                            i.glyphicon.glyphicon-remove-sign
                        td
                            .btn-group(ng-if="vm.aggrData[row.trackedKey]['elderly']['nursingLevelId']")
                                a.btn.btn-primary.btn-sm(ng-click="vm.switchReadonlyWorkItems(row.trackedKey)" ng-class="{'btn-primary': !vm.$editings[row.trackedKey]['workItems'], 'btn-warning': vm.$editings[row.trackedKey]['workItems']}")
                                    i.glyphicon.glyphicon-pencil
                                    span.ml-sm {{ vm.$editings[row.trackedKey]['workItems'] ? vm.moduleTranslatePath('BTN-DO-READONLY-WORK-ITEMS') : vm.moduleTranslatePath('BTN-CANCEL-READONLY-WORK-ITEMS') | translate}}
                            .split
                            .btn-group.work-item(ng-if="vm.aggrData[row.trackedKey]['elderly']['id'] && vm.aggrData[row.trackedKey]['elderly']['nursingLevelId']", ng-repeat="workItem in vm.workItemMap[vm.aggrData[row.trackedKey]['elderly']['nursingLevelId']]")
                                .checkbox.c-checkbox
                                    label
                                        input(id="{{row.trackedKey + '$' +workItem.id}}",type='checkbox', ng-disabled="!vm.$editings[row.trackedKey]['workItems']", ng-model="vm.work_items[row.trackedKey + '$' + vm.aggrData[row.trackedKey]['elderly']['nursingLevelId']][workItem.id]" ng-change="vm.workItemChecked(row.trackedKey, workItem.id)")
                                        span.fa.fa-check
                                label(for="{{row.trackedKey + '$' +workItem.id}}") {{ workItem.name }}
                        td
                            .btn-group(ng-if="vm.aggrData[row.trackedKey]['elderly']['nursingLevelId']")
                                a.btn.btn-primary.btn-sm(ng-click="vm.addCustomizedWorkItems(row.trackedKey)")
                                    i.glyphicon.glyphicon-plus
                                    span.ml-sm {{ vm.moduleTranslatePath('BTN-ADD-CUSTOMIZED-WORK-ITEMS') | translate}}
                            .split

                        td.text-center
                            div(ng-if="vm.aggrData[row.trackedKey]['elderly']['id']")
                                span(ng-if="!vm.$editings[row.trackedKey]['remark'] && vm.aggrData[row.trackedKey]['nursing_plan']['remark']") {{vm.aggrData[row.trackedKey]['nursing_plan']['remark']}}
                                a.btn.btn-primary.btn-sm(ng-if="!vm.$editings[row.trackedKey]['remark'] && !vm.aggrData[row.trackedKey]['nursing_plan']['remark']" ng-click="vm.addNursingPlanRemark(row.trackedKey)") {{ vm.moduleTranslatePath('BTN-SET-NURSING-PLAN-REMARK') | translate}}
                                .btn-group(ng-if="!vm.$editings[row.trackedKey]['remark'] && vm.aggrData[row.trackedKey]['nursing_plan']['remark']")
                                    a.btn.btn-primary.btn-xs(ng-click="vm.editNursingPlanRemark(row.trackedKey)")
                                        i.glyphicon.glyphicon-pencil
                                input.form-control(type="text",ng-if="vm.$editings[row.trackedKey]['remark']",ng-model="vm.editing$NursingPlanRemark[vm.aggrData[row.trackedKey]['elderly']['id']]")
                                .btn-group(ng-if="vm.$editings[row.trackedKey]['remark']")
                                    a.btn.btn-primary.btn-xs(title="{{'button.SAVE'|translate}}",ng-click="vm.saveNursingPlanRemark(row.trackedKey, vm.editing$NursingPlanRemark[vm.aggrData[row.trackedKey]['elderly']['id']])")
                                        i.glyphicon.glyphicon-ok-sign
                                    a.btn.btn-primary.btn-xs(title="{{'button.CANCEL'|translate}}",ng-click="vm.cancelNursingPlanRemark(row.trackedKey)")
                                        i.glyphicon.glyphicon-remove-sign
                    tr(ng-if="vm.yAxisDataFlatten.length==0")
                        td.text-center(colspan="{{vm.xAxisData.length + 1}}") {{ 'grid.NO-RESULTS' | translate}}
        .panel-footer
script(type="text/ng-template", id="nursing-plan-save-as-template.html")
    form.form-validate.mb-lg(role='form', name="theForm", novalidate='', ng-submit="vm.doSubmit()")
        .ngdialog-message
            h3.mt0 {{ vm.moduleTranslatePath('DIALOG-SAVE-AS-TEMPLATE-TITLE') | translate}}
        .ngdialog-input
            .col-md-12.cover-nursing-plan-template-c
                .tree.tree-dropdown(name='nursingPlanTemplateSelected',s-tree, s-tree-data="vm.fetchNursingPlanTemplatesPromise",s-tree-height="400", s-tree-template-url='tree-directive-default-renderer.html',s-tree-option="{layout:'dropdown',selectNodeFormat:'object'}",ng-model="vm.saveToSelected", on-select="vm.selectNuringPlanTemplateToSave(selectedNode)")
                .cover-nursing-plan-template-tree
                    input.form-control(type='text', name='name',ng-model='vm.nursingPlanTemplateName',placeholder='{{vm.moduleTranslatePath("TAB1-PLACEHOLDER-SAVE-TO-TEMPLATE_NAME")|translate}}')
        .ngdialog-buttons
            .col-md-12.text-right
                button.btn.btn-warning(type='button',ng-click="vm.cancel()") {{ "button.CANCEL" | translate}}
                button.btn.btn-success(type='submit') {{ "button.CONFIRM" | translate}}