.col-xs-2(ng-if="vm.switches.leftTree")
    .tree.tree-basic(name='yAxisData',s-tree, s-tree-data="vm.yAxisDataPromise",s-tree-height="vm.size.h-15", s-tree-template-url='tree-directive-default-renderer.html',s-tree-option="{mode:'check',selectNodeFormat:'object'}",ng-model="vm.yAxisData",required='', on-check-change="vm.onRoomChange()")
.text-left(ng-class='{"col-xs-10":vm.switches.leftTree,"col-xs-12":!vm.switches.leftTree}')
    .row
        .col-md-5
        .col-md-7
    .row-split
        .panel.panel-default.panel-grid
            table.grid.table.table-bordered.table-nursing-plan
                thead
                    tr
                        th.text-center(ng-repeat="col in vm.xAxisData",width="{{col.width}}") {{::col.name}}
                tbody
                    tr(ng-repeat="row in vm.yAxisDataFlatten track by row.trackedKey")
                        td.text-center {{vm.aggrData[row.trackedKey]['room_name']}}
                        td.text-center {{vm.aggrData[row.trackedKey]['bed_no']}}
                        td.text-center {{vm.aggrData[row.trackedKey]['elderly']['name']}}
                        td.text-center
                            div(ng-if="vm.aggrData[row.trackedKey]['elderly']['id']")
                                span(ng-if="vm.aggrData[row.trackedKey]['elderly']['nursing_level_name']") {{vm.aggrData[row.trackedKey]['elderly']['nursing_level_name']}}
                                a.btn.btn-warning.btn-sm(ng-if="!vm.$editings[row.trackedKey]['elderly'] && !vm.aggrData[row.trackedKey]['elderly']['nursing_level_name']" ng-click="vm.setElderlyNursingLevel(row.trackedKey)") {{ vm.moduleTranslatePath('BTN-SET-NURSING-LEVEL') | translate}}
                                .btn-group(ng-if="vm.$editings[row.trackedKey]['elderly'] && !vm.aggrData[row.trackedKey]['elderly']['nursing_level_name']")
                                    .btn.btn-primary.btn-xs(ng-repeat='nursingLevel in vm.selectBinding.nursingLevels',ng-model="vm.editing$NursingLevel",btn-radio="nursingLevel.value") {{nursingLevel.name.substr(0,1)}}
                                .btn-group(ng-if="vm.$editings[row.trackedKey]['elderly'] && !vm.aggrData[row.trackedKey]['elderly']['nursing_level_name']")
                                    a.btn.btn-warning.btn-xs(title="{{'button.SAVE'|translate}}",ng-click="vm.doChangeElderlyNursingLevel(row.trackedKey, vm.editing$NursingLevel)")
                                        i.glyphicon.glyphicon-ok-sign
                                    a.btn.btn-primary.btn-xs(title="{{'button.CANCEL'|translate}}",ng-click="vm.cancelElderlyEditing(row.trackedKey)")
                                        i.glyphicon.glyphicon-remove-sign
                        td
                            .btn-group.nursing-item-group(ng-if="vm.aggrData[row.trackedKey]['elderly']['id'] && vm.aggrData[row.trackedKey]['elderly']['nursing_level']", ng-repeat="nursingItem in vm.nursingItemMap[vm.aggrData[row.trackedKey]['elderly']['nursing_level']]")
                                .checkbox.c-checkbox
                                    label
                                        input(id="{{vm.aggrData[row.trackedKey]['elderly']['nursing_level'] + '$' +nursingItem.value}}",type='checkbox',ng-model="vm.service_items[vm.aggrData[row.trackedKey]['elderly']['nursing_level']][nursingItem.value]" ng-change="vm.serviceItemChecked(row.trackedKey, nursingItem.value)")
                                        span.fa.fa-check
                                label(for="{{vm.aggrData[row.trackedKey]['elderly']['nursing_level'] + '$' +nursingItem.value}}") {{ nursingItem.name }}
                        td.text-center
                            div(ng-if="vm.aggrData[row.trackedKey]['elderly']['id']")
                                span(ng-if="vm.aggrData[row.trackedKey]['nursing_plan']['remark']") {{vm.aggrData[row.trackedKey]['nursing_plan']['remark']}}
                                a.btn.btn-primary.btn-sm(ng-if="!vm.$editings[row.trackedKey]['remark'] && !vm.aggrData[row.trackedKey]['nursing_plan']['remark']" ng-click="vm.setNursingPlanRemark(row.trackedKey)") {{ vm.moduleTranslatePath('BTN-SET-NURSING-PLAN-REMARK') | translate}}
                                input.form-control(type="text",ng-if="vm.$editings[row.trackedKey]['remark']",ng-model='vm.editing$NursingPlanRemark')
                                .btn-group(ng-if="vm.$editings[row.trackedKey]['remark']")
                                    a.btn.btn-primary.btn-xs(title="{{'button.SAVE'|translate}}",ng-click="vm.saveNursingPlanRemark(row.trackedKey, vm.editing$NursingPlanRemark)")
                                        i.glyphicon.glyphicon-ok-sign
                                    a.btn.btn-primary.btn-xs(title="{{'button.CANCEL'|translate}}",ng-click="vm.cancelNursingPlanRemark(row.trackedKey)")
                                        i.glyphicon.glyphicon-remove-sign
                    tr(ng-if="vm.yAxisDataFlatten.length==0")
                        td.text-center(colspan="{{vm.xAxisData.length + 1}}") {{ 'grid.NO-RESULTS' | translate}}
        .panel-footer
script(type="text/ng-template", id="nursing-plan-save-as-template.html")
    form.form-validate.mb-lg(role='form', name="theForm", novalidate='', ng-submit="vm.doSubmit()")
        .ngdialog-message
            h3.mt0 {{ vm.moduleTranslatePath('DIALOG-SAVE-AS-TEMPLATE-TITLE') | translate}}
        .ngdialog-input
            .col-md-12.cover-nursing-plan-template-c
                .tree.tree-dropdown(name='nursingPlanTemplateSelected',s-tree, s-tree-data="vm.fetchNursingPlanTemplatesPromise",s-tree-height="400", s-tree-template-url='tree-directive-default-renderer.html',s-tree-option="{layout:'dropdown',selectNodeFormat:'object'}",ng-model="vm.saveToSelected", on-select="vm.selectNuringPlanTemplateToSave(selectedNode)")
                .cover-nursing-plan-template-tree
                    input.form-control(type='text', name='name',ng-model='vm.nursingPlanTemplateName',placeholder='{{vm.moduleTranslatePath("TAB1-PLACEHOLDER-SAVE-TO-TEMPLATE_NAME")|translate}}')
        .ngdialog-buttons
            .col-md-12.text-right
                button.btn.btn-warning(type='button',ng-click="vm.cancel()") {{ "button.CANCEL" | translate}}
                button.btn.btn-success(type='submit') {{ "button.CONFIRM" | translate}}