form.form-validate.mb-lg(role='form', name="theForm", novalidate='', ng-submit="vm.doSubmit()")
    .panel
        tabset(justified="true")
            tab(active="vm.tab1.active")
                tab-heading
                    | {{ vm.viewTranslatePath('TAB1') | translate}}
                    span.text-danger(title="{{'validator.FIELD-INVALID'|translate}}" , ng-show="utils.vtab('contentTab1')")
                        i.glyphicon.glyphicon-minus-sign
                div#contentTab1
                    fieldset: .form-group
                        <!--护理评估等级-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-NURSING_ASSESSMENT_GRADE') | translate}}:
                        .col-md-10
                            ui-select(name="nursing_assessment_grade",ng-model='vm.model.nursing_assessment_grade', theme='bootstrap',required='')
                                ui-select-match(placeholder='{{vm.viewTranslatePath("TAB1-PLACEHOLDER-NURSING_ASSESSMENT_GRADE")|translate}}') {{$select.selected.name}}
                                ui-select-choices(repeat='nursingAssessmentGrade.value as nursingAssessmentGrade in vm.selectBinding.nursingAssessmentGrades | filter: {name: $select.search}')
                                    div(ng-bind-html='nursingAssessmentGrade.name | highlight: $select.search')
                            span.text-danger(ng-show="utils.vinput(this.theForm,'nursing_assessment_grade','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        <!--项目名称-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-NAME') | translate}}:
                        .col-md-10
                            input.form-control(type='text', name='name',ng-model='vm.model.name',placeholder='{{vm.viewTranslatePath("TAB1-PLACEHOLDER-NAME")|translate}}' ,required='', maxlength="20")
                            span.text-danger(ng-show="utils.vinput(this.theForm,'name','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        <!--项目名称-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-SHORT_NAME') | translate}}:
                        .col-md-10
                            input.form-control(type='text', name='short_name',ng-model='vm.model.short_name',placeholder='{{vm.viewTranslatePath("TAB1-PLACEHOLDER-SHORT_NAME")|translate}}' ,required='', maxlength="4")
                            span.text-danger(ng-show="utils.vinput(this.theForm,'short_name','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        <!--标识集合-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-FLAG-COLLECTION') | translate}}:
                        .col-md-2
                            .checkbox.c-checkbox
                                label
                                    input#stopFlag(type='checkbox',ng-model='vm.model.stop_flag')
                                    span.fa.fa-check
                            label(for="stopFlag") {{ vm.viewTranslatePath('TAB1-LABEL-STOP_FLAG') | translate}}

    .text-right.mt-lg
        button.btn.btn-warning(type="button",ng-click="vm.cancel()") {{'button.CANCEL'|translate}}
        button.btn.btn-success(type="submit") {{'button.SAVE'|translate}}