
form.search-form
    .row.nursing-station-head
        .col-md-2
            a.btn.btn-danger.btn-md(ng-click="vm.toggleAlarmQueue()")
                i.glyphicon(ng-class='{"glyphicon-folder-open":vm.alarmQueueVisible,"glyphicon-folder-close":!vm.alarmQueueVisible}')
                span.pl-sm {{ vm.toggleAlarmButton | translate}}
                span(ng-show="vm.alarmQueue.length > 0") ({{vm.alarmQueue.length}})
        .col-md-6
        label.search-col.col-md-1.text-right 楼层房间
        .col-md-2
            .tree.tree-dropdown(name='floorTree',s-tree, s-tree-data="vm.floorDataPromise",s-tree-height="400", s-tree-template-url='tree-directive-default-renderer.html',s-tree-option="{mode:'check',layout:'dropdown',selectNodeFormat:'object'}",ng-model="vm.floorData", on-check-change="vm.onFloorChange()")
        .alarm-queue(ng-show="vm.alarmQueueVisible")
            .alarm-item(ng-repeat="alarm in vm.alarmQueue")
                .avatar
                    .avatar-block
                        .user-block-status
                            img.img-thumbnail.img-circle(ng-src="{{ alarm.elderly.avatar ? alarm.elderly.avatar + '?imageView2/1/w/62/h/81' : vm.defaultElderlyAvatar}}", alt="姓名")
                div.text-center
                    span.reason {{vm.D3016[alarm.reason].name}}
                div.name-block(ng-click="vm.openAlarmDialogByAlarm($index)")
                    .name.text-center {{ alarm.elderly.name }}
.nursing-station
    .col-md-12.monitor-objects(block-ui="nursing-station")
        .elderly(ng-repeat="elderly in vm.elderlys")
            .avatar(ng-click="vm.openElderlyDialog(elderly)")
                .avatar-block
                    .user-block-status
                        img.img-thumbnail.img-circle(ng-src="{{ elderly.avatar ? elderly.avatar + '?imageView2/1/w/62/h/81' : vm.defaultElderlyAvatar}}", alt="姓名")
            div.text-center
                .room-info {{elderly.room_value.roomId.name + '-' + elderly.room_value.bed_no}}
                span.nursing-level ({{elderly.nursingLevelId.short_name}})
            div(ng-class='vm.elderlyStatusMonitor[elderly.id].status' ng-click="vm.openAlarmDialogByMonitorObject(elderly.id)")
                .name.text-center {{ elderly.name }}
                    span.age ({{utils.age(elderly.birthday)}})
.clearfix
script(type="text/ng-template", id="nursing-station-elderly.html")
    .ngdialog-title
        i.glyphicon.glyphicon-info-sign
        | {{ vm.moduleTranslatePath('DLG-ELDERLY-TITLE') | translate }}
    .ngdialog-input
        .col-md-2
            .avatar
                .avatar-block
                    .user-block-status
                        img.img-thumbnail.img-circle(ng-src="{{ vm.elderly.avatar ? vm.elderly.avatar + '?imageView2/1/w/96/h/125' : vm.defaultElderlyAvatar}}", alt="姓名")
                .upload-avatar(qiniu-uploader, qiniu-uploader-template-url="qiniu-uploader-primary-sm.html", button-text="{{ vm.moduleTranslatePath('DLG-ELDERLY-BTN-AVATAR') | translate}}" bucket='4gimg',user='vm.elderly._id',ng-uploaded-url="vm.elderly.avatar", on-uploaded="vm.onAvatarUploaded(uploadedUrl)")
        .col-md-9
            .row
                .label.col-md-2.field-label {{ vm.moduleTranslatePath('DLG-ELDERLY-LABEL-NAME') | translate }}
                .col-md-4.field-value.name {{ vm.elderly.name }}
                .label.col-md-2.field-label {{ vm.moduleTranslatePath('DLG-ELDERLY-LABEL-AGE') | translate }}
                .col-md-4.field-value.age {{utils.age(vm.elderly.birthday)}}
            .row
                .label.col-md-2.field-label {{ vm.moduleTranslatePath('DLG-ELDERLY-LABEL-ROOM_INFO') | translate }}
                .col-md-4.field-value.room-info {{vm.elderly.room_value.roomId.name + '-' + vm.elderly.room_value.bed_no}}
                .label.col-md-2.field-label {{ vm.moduleTranslatePath('DLG-ELDERLY-LABEL-NURING_WORKER') | translate }}
                .col-md-4.field-value.nuring-worker {{ vm.nursingWorkerNames }}
            .row
                .label.col-md-2.field-label {{ vm.moduleTranslatePath('DLG-ELDERLY-LABEL-NURSING_ASSESSMENT_GRADE') | translate }}
                .col-md-4.field-value.nursing-assessment-grade {{vm.nursing_assessment_grade_name}}
                .label.col-md-2.field-label {{ vm.moduleTranslatePath('DLG-ELDERLY-LABEL-NURSING_LEVEL') | translate }}
                .col-md-4.field-value.nursing-level {{vm.elderly.nursingLevelId.name}}
            .row
                .label.col-md-2.field-label.double-row-height {{ vm.moduleTranslatePath('DLG-ELDERLY-LABEL-FAMILY_MEMBERS') | translate }}
                .col-md-10.field-value.family-members.double-row-height {{vm.family_members}}
        .elderly-more-info.col-md-12
            .panel.panel-default.panel-grid
                .panel-heading-normal
                    a {{ vm.moduleTranslatePath('DLG-ELDERLY-HEAD-NURSING_RECORDS_TODAY') | translate}}
                table.grid.table.table-bordered.table-hover.table-striped
                    thead
                        tr
                            th.text-center(width="80")
                                | {{ vm.moduleTranslatePath('DLG-ELDERLY-TH-EXEC_ON') | translate}}
                            th.text-center(width="445")
                                | {{ vm.moduleTranslatePath('DLG-ELDERLY-TH-NAME') | translate}}
                            th.text-center(width="80")
                                | {{ vm.moduleTranslatePath('DLG-ELDERLY-TH-ASSIGNED_WORKER') | translate}}
                            th.text-center(width="100")
                                | {{ vm.moduleTranslatePath('DLG-ELDERLY-TH-CONFIRM_FLAG') | translate}}
                            th
                    tbody
                        tr(ng-repeat="row in vm.nursingRecords")
                            td.text-center(ng-if="row.workItemId.repeat_type != 'A0001' " width="80") {{::row.exec_on|date: 'HH:mm'}}
                            td.text-center(ng-if="row.workItemId.repeat_type == 'A0001' " width="80") {{::row.workItemId.repeat_type_name}}
                            td.text-left(width="445") {{::row.name}}
                            td.text-center(width="80") {{::row.assigned_worker.name }}
                            td.text-center(width="100") {{::row.confirmed_flag|boolFilter}}
                            td
script(type="text/ng-template", id="nursing-station-alarm.html")
    .ngdialog-title
        i.glyphicon.glyphicon-info-sign
        | {{ vm.title }}
    .ngdialog-input
        .col-md-3
            .avatar
                .avatar-block
                    .user-block-status
                        img.img-thumbnail.img-circle(ng-src="{{ vm.alarm.elderly.avatar ? vm.alarm.elderly.avatar + '?imageView2/1/w/62/h/81' : vm.defaultElderlyAvatar}}", alt="姓名")
        .col-md-5
            .name {{ vm.alarm.elderly.name }}
                span.age ({{utils.age(vm.alarm.elderly.birthday)}})
            .room-info {{vm.alarm.elderly.room_value.roomId.name + '-' + vm.alarm.elderly.room_value.bed_no}}
            .nursing-level {{vm.alarm.elderly.nursingLevelId.short_name}}
        .col-md-4.bl
            //.alarm-reason-archive
            //    | {{vm.reasonMap}}
            //    .checkbox.c-checkbox
            //        label
            //            input#alarmReason(type='checkbox',ng-model='vm.reasonMap[vm.alarm.reason]' ng-change="vm.onChange(vm.alarm.reason)")
            //            span.fa.fa-check
            //     label(for="alarmReason") {{vm.title}}
            //    .checkbox.c-checkbox
            //        label
            //            input#misAlarm(type='checkbox', ng-model='vm.reasonMap["00000"]', ng-change="vm.onChange('00000')")
            //            span.fa.fa-check
            //    label(for="misAlarm") {{ vm.moduleTranslatePath('DLG-MIS-ALARM') | translate}}
            button.btn.btn-success.alarm-close-btn(ng-click="vm.closeAlarm()") {{ "button.CLOSE" | translate}}
        .col-md-12
            .alarm-tip.text-danger {{ vm.moduleTranslatePath('DLG-ALARM-TIP') | translate}}