.col-xs-12.text-center
    .row
        .panel.panel-default.panel-grid
            table.grid.table.table-bordered.table-hover.table-striped
                thead
                    tr
                        th.text-center(check-all,width="30")
                            .checkbox.c-checkbox(data-toggle="tooltip",data-title="Check All")
                                label(ng-click="vm.selectAll($event)")
                                    input(type='checkbox')
                                    span.fa.fa-check
                        th.text-center(ng-repeat="column in vm.columns",width="{{column|width}}",ng-hide="column|hide",ng-click="vm.sort.toggle(column)",ng-class="{sortable: column.sortable !== false}")
                            | {{column.label}}
                            i.glyphicon(ng-if="column.name === vm.sort.column && vm.sort.direction",ng-class="vm.sort.direction|orderClass")
                tbody
                    tr(ng-repeat="row in vm.other_configs")
                        td
                            .checkbox.c-checkbox
                                label
                                    input(type='checkbox' data="trBubble" ng-model="row.checked" )
                                    span.fa.fa-check(data="trBubble")
                        td.text-left {{::row.psn_bed_monitor_timeout}}
                        td
                            .btn-group
                                a.btn.btn-primary.btn-xs(title="{{'button.EDIT'|translate}}",ng-click="vm.edit(vm.tenantId)")
                                    i.glyphicon.glyphicon-pencil
                    tr(ng-if="vm.paged.length==0")
                        td(colspan="{{utils.noResultsColspan(vm)}}") {{ 'grid.NO-RESULTS' | translate}}