.row
    .col-xs-3
        .img-border
            .img-loader
                img(ng-src="vm.testUpload")

.row
    .col-xs-3.pt
        .wrapper(qiniu-uploader)
        //#up-container
        //    a#pick-files.btn.btn-default.btn-lg.block-center
        //        i.glyphicon.glyphicon-plus
        //        | {{'button.PICK-FIELS'|translate}}