//
   Created by zppro on 16-2-23.
.col-xs-2(ng-if="vm.switches.leftTree")
    .tree.tree-basic(s-tree,s-tree-data="vm.treeDataPromise",s-tree-height="vm.size.h-25",s-tree-template-url='tree-directive-grid-renderer.html',s-tree-option="{mode:'grid'}" ,ng-model="vm.UUid")
        ul
            li.repeat-modify(ng-repeat='node in vm.trees[0].treeData',ng-include="'tree-basic-renderer.html'",ng-init="tIndex=0;nIndex = $index")
.text-center(block-ui="list-block",ng-class='{"col-xs-10":vm.switches.leftTree,"col-xs-12":!vm.switches.leftTree}')
    .row
        form.form-search
            .input-group.pull-right.page-search
                label.input-group-addon {{'grid.LABEL-SEARACH'|translate}}
                input.form-control(type="text",ng-model="vm.filter.$")
    .row-split
    .row
        .panel.panel-default.panel-grid
            table.grid.table.table-bordered.table-hover.table-striped
                thead
                    tr
                        th.text-center(check-all,width="30")
                            .checkbox.c-checkbox(data-toggle="tooltip",data-title="Check All")
                                label(ng-click="vm.selectAll($event)")
                                    input(type='checkbox')
                                    span.fa.fa-check
                        th.text-center(ng-repeat="column in vm.columns",width="{{column|width}}",ng-hide="column|hide",ng-click="vm.sort.toggle(column)",ng-class="{sortable: column.sortable !== false}")
                            | {{column.label}}
                            i.glyphicon(ng-if="column.name === vm.sort.column && vm.sort.direction",ng-class="vm.sort.direction|orderClass")
                tbody
                    tr(ng-repeat="row in vm.rows|filter:vm.filter|orderBy:vm.sort.column:vm.sort.direction===-1|paging:vm" , ng-click="vm.selectRow($event,row)",ng-dblclick="vm.dblclickRow(row.id)")
                        td
                            .checkbox.c-checkbox
                                label
                                    input(type='checkbox' data="trBubble" ng-model="row.checked" )
                                    span.fa.fa-check(data="trBubble")
                        td.text-center {{::row.code}}
                        td.text-left.td-nowrap(title="{{::row.p_name}}") {{::row.p_name}}
                        td.text-right {{::row.amount|currency}}
                        td {{::row.check_in_time|date:'yyyy-MM-dd'}}
                        td {{::row.local_status|formatter:'local_status':vm.columns}}
                        td {{::row.UUstatus|formatter:'UUstatus':vm.columns}}
                        td.td-nowrap(title="{{::row.member_name}} ({{::row.member_id}})")  {{::row.member_name}} ({{::row.member_id}})
                        td.text-center {{::row.link_man}}
                        td.text-center {{::row.link_phone}}
                        td
                            .btn-group
                                a.btn.btn-primary.btn-xs(title="{{'button.EDIT'|translate}}",ng-click="vm.edit(row._id)")
                                    i.glyphicon.glyphicon-pencil
                            .btn-group(ng-if="row.local_status == 'A0003'")
                                a.btn.btn-primary.btn-xs(title="{{ vm.viewTranslatePath('SUBMIT-PFT') | translate}}",ng-click="vm.submitOrder(row._id)")
                                    i.glyphicon.glyphicon-send
                    tr(ng-if="vm.paged.length==0")
                        td(colspan="{{utils.noResultsColspan(vm)}}") {{ 'grid.NO-RESULTS' | translate}}
            .panel-footer
                .row
                    .col-md-4.text-left
                        .btn-toolbar
                    .col-md-8
                        pagination.pagination-sm.pull-right(total-items="vm.page.totals",ng-model="vm.page.no",max-size="5",items-per-page="vm.page.size",boundary-links="true" ,ng-change="vm.paging()")