//
   Created by zppro on 16-2-23.
.col-xs-2(ng-if="vm.switches.leftTree")
    .tree.tree-basic(s-tree,s-tree-data="vm.treeDataPromise",s-tree-height="vm.size.h-25",s-tree-template-url='tree-directive-grid-renderer.html',s-tree-option="{mode:'grid'}" ,ng-model="vm.UUid")
        ul
            li.repeat-modify(ng-repeat='node in vm.trees[0].treeData',ng-include="'tree-basic-renderer.html'",ng-init="tIndex=0;nIndex = $index")
.text-center(block-ui="list-block",ng-class='{"col-xs-10":vm.switches.leftTree,"col-xs-12":!vm.switches.leftTree}')
    .row
        form.form-search
            .input-group.pull-right.page-search
                label.input-group-addon {{'grid.LABEL-SEARACH'|translate}}
                input.form-control(type="text",ng-model="vm.filter.$")
    .row-split
    .row
        .panel.panel-default.panel-grid
            table.grid.table.table-bordered.table-hover.table-striped
                thead
                    tr
                        th.text-center(check-all,width="30")
                            .checkbox.c-checkbox(data-toggle="tooltip",data-title="Check All")
                                label(ng-click="vm.selectAll($event)")
                                    input(type='checkbox')
                                    span.fa.fa-check
                        th.text-center(ng-repeat="column in vm.columns",width="{{column|width}}",ng-hide="column|hide",ng-click="vm.sort.toggle(column)",ng-class="{sortable: column.sortable !== false}")
                            | {{column.label}}
                            i.glyphicon(ng-if="column.name === vm.sort.column && vm.sort.direction",ng-class="vm.sort.direction|orderClass")
                tbody
                    tr(ng-repeat="row in vm.rows|filter:vm.filter|orderBy:vm.sort.column:vm.sort.direction===-1|paging:vm" , ng-click="vm.selectRow($event,row)",ng-dblclick="vm.dblclickRow(row.id)")
                        td
                            .checkbox.c-checkbox
                                label
                                    input(type='checkbox' data="trBubble" ng-model="row.checked" )
                                    span.fa.fa-check(data="trBubble")
                        td.text-left.td-nowrap(title="{{::row.show_name}}") {{::row.show_name}}
                        td.text-left.td-nowrap(title="{{::row.UUgetaddr}}") {{::row.UUgetaddr}}
                        td {{::row.UUstatus|formatter:'UUstatus':vm.columns}}
                        td {{::row.UUtourist_info|formatter:'UUtourist_info':vm.columns}}
                        td.text-right {{::row.UUtprice|currency}}
                        td.text-right {{::row.sale_price|currency}}
                        td {{::row.UUpay|formatter:'UUpay':vm.columns}}
                        td {{::row.UUbuy_limit_low}} - {{::row.UUbuy_limit_up == 0 ? '不限': row.UUbuy_limit_up}}
                        td {{::row.UUrefund_audit|boolFilter}}
                        td.text-left.td-nowrap(title="{{::row.UUnotes}}") {{::row.UUnotes}}
                        td
                            .btn-group
                                a.btn.btn-primary.btn-xs(title="{{'button.EDIT'|translate}}",ng-click="vm.edit(row._id)")
                                    i.glyphicon.glyphicon-pencil
                    tr(ng-if="vm.paged.length==0")
                        td(colspan="{{utils.noResultsColspan(vm)}}") {{ 'grid.NO-RESULTS' | translate}}
            .panel-footer
                .row
                    .col-md-4.text-left
                        .btn-toolbar
                            .btn-group
                                a.btn.btn-primary.btn-sm(title="{{'button.ADD'|translate}}",ng-click="vm.add()")
                                    i.glyphicon.glyphicon-plus
                                a.btn.btn-primary.btn-sm(title="{{'button.REMOVE'|translate}}",ng-click="vm.remove()")
                                    i.glyphicon.glyphicon-minus
                            .btn-group
                                a.btn.btn-warning(ng-disabled="!vm.UUid",ng-click="vm.UUid && vm.syncInterfaceTicket(vm.UUid)") {{ vm.viewTranslatePath('SYNC-INTERFACE-TICKET-SELECTED') | translate}}
                            .btn-group
                                a.btn.btn-success(ng-click="vm.syncInterfaceTicket()") {{ vm.viewTranslatePath('SYNC-INTERFACE-TICKET-ALL') | translate}}
                    .col-md-8
                        pagination.pagination-sm.pull-right(total-items="vm.page.totals",ng-model="vm.page.no",max-size="5",items-per-page="vm.page.size",boundary-links="true" ,ng-change="vm.paging()")