//
   Created by zppro on 16-2-23.
form.form-validate.mb-lg(role='form', name="theForm", novalidate='', ng-submit="vm.doSubmit()")
    .panel
        tabset(justified="true")
            tab(active="vm.tab1.active")
                tab-heading
                    | {{ vm.viewTranslatePath('TAB1') | translate}}
                    span.text-danger(title="{{'validator.FIELD-INVALID'|translate}}" , ng-show="utils.vtab('contentTab1')")
                        i.glyphicon.glyphicon-minus-sign
                div#contentTab1
                    fieldset: .form-group
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-APP_ID') | translate}}:
                        .col-md-10
                            .btn-group
                                .btn.btn-primary(name='app_id',ng-repeat='item in vm.selectBinding.apps',ng-model='vm.model.app_id',btn-radio="item.value",required='') {{item.name}}
                            span.text-danger(ng-show="utils.vinput(this.theForm,'app_id','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-OS') | translate}}:
                        .col-md-10
                            .btn-group
                                .btn.btn-primary(name='os',ng-repeat='item in vm.selectBinding.oses',ng-model='vm.model.os',btn-radio="item.value",required='') {{item.name}}
                            span.text-danger(ng-show="utils.vinput(this.theForm,'os','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-VER') | translate}}:
                        .col-md-10
                            input.form-control(type='text', name='ver',ng-model='vm.model.ver',placeholder='{{vm.viewTranslatePath("TAB1-PLACEHOLDER-VER")|translate}}' ,required='')
                            span.text-danger(ng-show="utils.vinput(this.theForm,'ver','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-DOWNLOAD_URL') | translate}}:
                        .col-md-10
                            input.form-control(type='text', name='download_url',ng-model='vm.model.download_url',placeholder='{{vm.viewTranslatePath("TAB1-PLACEHOLDER-DOWNLOAD_URL")|translate}}' ,required='')
                            span.text-danger(ng-show="utils.vinput(this.theForm,'download_url','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-FLAG-COLLECTION') | translate}}:
                        .col-md-2
                            .checkbox.c-checkbox
                                label
                                    input#forceUpdateFlag(type='checkbox',ng-model='vm.model.force_update_flag')
                                    span.fa.fa-check
                            label(for="forceUpdateFlag") {{ vm.viewTranslatePath('TAB1-LABEL-FORCE_UPDATE_FLAG') | translate}}
    .text-right.mt-lg
        button.btn.btn-warning(type="button",ng-click="vm.cancel()") {{'button.CANCEL'|translate}}
        button.btn.btn-success(type="submit") {{'button.SAVE'|translate}}
